.category_card {
  border: 1px solid none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  }

  .category_card img {
    width: 318px;
    height: 350px;
    object-fit: cover;
  }

  .category_title{
    padding: 20px 90px;
    font-size: 18px;
    font-weight: 600;
   
  }