.banner_section {
    background-color: #A1E2EB;
  }
  
  .banner_sub_section {
    display: flex;
    justify-content: space-between;
    max-width: 1380px;
    margin: 0 auto;
  }

  .sale{
    width: 540px;
    height: 104px;
    font-weight: 700;
    font-size: 80px;
    line-height: 130%;
    margin: 130px 80px;
    color: #FFFFFF;
  }

  .new_season{
    position: absolute;
    width: 756px;
    height: 82px;
    top: 274px;
    margin: 80px;
    font-weight: 700;
    font-size: 63px;
    line-height: 130%;
    color: #FFFFFF;
  }

  .button {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    font-size: 25px;
    font-weight: 700;
    justify-items: center;
  }

  .button1{
    background-color: #FFFFFF;
    border-radius: 13px;
    padding: 25px 70px;
    margin-left: 51px;
    color: black;
  }

  .button2{
    border: 1px solid white;
    background-color: transparent;
    border-radius: 13px;
    padding: 25px 50px;
    color: #FFFFFF;

  }